<div class="blackout"></div>
<div id="demo" class="clearfix">
	<h2 id="current"></h2>
	<div id="previous"></div>
	<div id="next"></div>
</div>

<script>

$(document).ready(function () {
	var steps = <%= raw flash[:demo] %>;
	var i = 0;
	
	var checkButtons = function () {
		if (i < steps.length) {
			$('#next').html("<input type='submit' value='Next >>'></input>");
		};
		
		if (i == steps.length-1 ) {
			$('#next').html("");
			fadeOut();
			$("#arrow").fadeTo(400, 1, function () {
				$("#arrow").addClass('blink')
			});
		};
		 
		if (i > 0) {
			$('#previous').html("<input type='submit' value='<< Previous'></input>");
		};
		
		if (i == 0) {
			$('#previous').html("");
		};
	};
	
	var fadeOut = function () {
		$(".blackout").animate({
			opacity: 0,
			"z-index": -1
		}, 400);			
	};
	
	$('#current').html(steps[i]);
	checkButtons();
	
	$('#next').on("click", function(event) {
		event.preventDefault();
		i++;
		$('#current').html(steps[i])
		checkButtons();
	})
	
	$('#previous').on("click", function(event) {
		event.preventDefault();
		i--;
		$('#current').html(steps[i]);
		checkButtons();
	})
});

</script>