<style> 
#demo {
	position: relative;
	margin-bottom: 20px;
	border: 3px solid lightblue;
	padding: 20px;
	font-size: 18px;
}

strong {
	color: #6b2607;
}
</style>

<div id="demo" class="clearfix">
	<form action="<%= login_url %>" method="post" style="position: absolute; left: 660px">
	  <input type="hidden" 
			 name="authenticity_token" 
			 value="<%= form_authenticity_token %>">
	  
	 <input type="hidden" name="user[email]" value="demo-user@tourplanner.co">
	 <input type="hidden" name="user[password]" value="password">

      <div class="submit">	 
 	  	   <input type="submit" value="Sign In As Demo User">
      </div>
    </form>
	
	<h1> <%= flash[:demo_header] %> </h1>
	
	<% flash[:demo].each do |demo| %>

		<p><%= demo %></p>

	<% end %>
	

</div>