<h1> All Users </h1>

<ul>
	
	<% @users.each do |user| %>
	  <% next if current_user == user %>	
	 
	  <li> 
	  	  <%= image_tag user.image.url(:thumb), class: "small-image" %>
		  <%= link_to user.email, user_url(user) %> 
	  </li>
	<% end %>
	
</ul>