<h1>Create Account</h1>

<form id="create_user" action="<%= users_url %>" method="post">
  <input type="hidden" 
		 name="authenticity_token" 
		 value="<%= form_authenticity_token %>">
		   
  <label for="user_email">Email</label>
  <input id="user_email"
   		 name="user[email]"
		 type="text">

  <label for="user_password">Password</label>
  <input id="user_password"
  		 name="user[password]"
		 type="password">
		 
  <input type="submit" value="Create Account">
</form>

<a href="<%= login_url %>">Log In</a>