<%= render 'layouts/errors' %>

<%= render 'user_heading', user: @user %>

<%= render @user.bands %>

<% if @user == current_user %>
	<a href="<%= new_band_url %>">
		<div class="add-box">
			<h2> + </h2>
			<h2> Add Band </h2>
		</div>
	</a>
<% end %>