<h1><%= current_user == @user ? "" : @user.email %></h1>

<%= image_tag @user.image.url(:medium) %>

<%= render 'bands/list', user: @user %>

<% if @user == current_user %>
	<a href="<%= new_band_url %>">
		<div class="add-box">
			<h2> + </h2>
			<h2> Add Band </h2>
		</div>
	</a>
<% end %>