<hr>
<h2>Add Another Show:</h2>

<form action="<%= band_events_url(band) %>" method="post">
    <input type="hidden" 
  		 name="authenticity_token" 
  		 value="<%= form_authenticity_token %>">

	<label for="show_name">Name(optional)</label>
	<input id="show_name" type="text" name="event[name]" value="<%= @event.name %>">
	
	<label for="show_date">Date</label>
	<input id="show_date" type="date" name="event[date]" value="<%= @event.date %>">
	 
	<input type="submit" value="Add Show">
</form>