<% band_name = @events.first.band.name + "'s" if params[:band_id] %>

<h1> All <%= band_name %> Events (<%= @events.count %>) </h1>
<hr>

<div id="map-container">
	<%= render 'tours/map', geo_data: @geo_data %>
</div>

<%= render 'events/list', events: @events, hide_band_name: false %>