<h4> shows: </h4>

<% @events.each do |event| %>

<p>
	venue_id: <%= event.venue_id %> :: band_id: <%= event.band_id %> :: 
	<%= link_to 'delete', event_path(event), :method => :delete %>
</p>

<% end %>