<h2> Tours (<%= tours.count %>) </h2>

<ul id="all-tours">
	<% tours.each do |tour| %>

	<li id="tour-block">
		<ul class="block-header">
			<li class="block-header-item"> 
				<%= link_to tour.name, tour_url(tour) %>
			</li>
	    </ul>
		
		<hr>
		
		<ul id="block-details">
			<li class="block-detail"> <%= pluralize(tour.events.count, 'show') %> </li>
			
			<% if current_user.is_band_admin?(tour.band.first) %>
				<li class="block-detail"> 
					<%= link_to 'delete', tour_url(tour), method: :delete %>
				</li>
			<% end %>
		</ul>
	</li>
	
	<% end %>
</ul>