<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />

<div id='map'>
</div>

<style>
	#map {
		width: 100%;
		height: 500px;
	}
</style>

<script>
L.mapbox.map('map', 'examples.map-9ijuk24y')
  .setView([37.8, -96], 4)
  .featureLayer.setGeoJSON(<%= geo_data %>);
</script>