<h2>Create New Band</h2>

<form id="band-form" action="<%= bands_url %>" method="post">
  <input type="hidden" 
		 name="authenticity_token" 
		 value="<%= form_authenticity_token %>">
		   
  <label for="band_name">Band Name</label>
  <input id="band_name"
   		 name="band[name]"
		 type="text">

  <label for="band_role">Your Role (optional)</label>
  <input id="band_role"
  		 name="band_membership[role]"
		 type="text">
		 
  <input type="submit" value="Create Band">
</form>