<% unless user.bands.empty? %>

	<h2><%= current_user == user ? "Your" : user.email+"'s" %> Bands:</h2>

	<ul id="all-bands">
	
	<% user.bands.each do |band| %>
	
	<li id="band-block" class="clearfix">
		<%= image_tag band.image.url(:thumb), class: "band-list-image" %>
			
		<ul class="block-header">
		  <li class="block-header-item"> 
			   <%= link_to band.name, band_url(band) %>
		   </li>
		</ul>
	
	    <% if current_user.is_band_admin?(band) %>
			<%= link_to 'Edit Band', edit_band_url(band), class: "edit-link"%>
	    <% end %>
		<% end %>
    
	</li>
	</ul>
<% end %>