<% unless user.bands.empty? %>

	<h2><%= user.email %>'s Bands:</h2>

	<ul id="band-list">
	
	<% user.bands.each do |band| %>
	
	 <li id="band-block">
		<ul class="block-header">
		  <li> <h3> <%= link_to band.name, band_url(band) %> <h3> </li>
		</ul>
	 
		<hr>
		 
		<ul class="block-details">
		  <li class="block-detail"> Role: <%= band.role_of(user) %> </li>
		  <% unless user.is_band_admin?(band) %>
		    <li class="block-detail"> 
				<%= button_to 'Delete Band', band_url(band), method: :delete %> 
			</li>
		  <% end %>
		</ul>
	 </li>
	
	<% end %>
	
	</ul>
	
	<hr>
<% end %>