<% unless current_user.bands.empty? %>

	<h2>Your Bands:</h2>

	<ul id="band-list">
	
	<% current_user.bands.each do |band| %>
	
	 
	 <li id="band-details">
		<ul>
		  <li> <h3> <%= link_to band.name, band_url(band) %> <h3> </li>
		</ul>
	 
		<hr>
		 
		<ul>
		  <li> Role: <%= Band.find_role(current_user, band) || "unspecified" %> </li>
		  <li> <%= button_to 'Delete Band', band_url(band), method: :delete %> </li>
		</ul>
	 </li>
	
	<% end %>
	
	</ul>
	
	<hr>
<% end %>