<h1> All Bands </h1>

<ul id="all-bands">

<% @bands.each do |band| %>

<li id="band-block" class="clearfix">
	<a href="<%= band_url(band) %>">
	<%= image_tag band.image.url(:thumb), class: "band-list-image" %>
		
	<ul class="block-header">
	  <li class="block-header-item"> 
		   <%= band.name %>
	   </li>
	</ul>
	</a>

    <% if current_user.is_band_admin?(band) %>
		<%= link_to 'Edit Band', edit_band_url(band), class: "edit-link"%>
    <% end %>
	<% end %>

</li>
</ul>