<h1> <%= @band.name %> </h1>

<% if @tours.count > 0 %>
	<%= render 'tours/list', tours: @tours %>
<% end %>

<%= render 'events/list', events: @events, hide_band_name: true %>

<% if current_user.is_in_band?(@band) %>
	<%= render 'events/form', band: @band %>
<% end %>