/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* RESET */

html, body, form, h1, div, label, a, input[type="submit"] {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

a:link {color: #6b2607; text-decoration: none;}
a:visited {color: #6b2607;}
a:hover { color: black; text-decoration : none;}
a:active{color: black; text-decoration : none; } 
a {
	color: #6b2607;
	display: inline;
	font-weight: bold;
}

/* GENERAL STYLIN */

html {
	font-family: 'Montserrat', sans-serif;
    background: white;
    color: #46434d;
	overflow-y: scroll;
}

h1,h2,h3,h4,h5,h6 {
	display: block;
	font-weight: bold;
}

h1 { 
	font-size: 24px;
	margin: 0 0 20px 0; 
}

h2 { font-size: 20px; }

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.clearfixtop:before {
	content: "";
	display: block;
	clear: both;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="file"],
input[type="search"],
select,
option {
    display:block;
	margin: 20px 0;
	border: 1px solid black;
	padding: 10px;
	font-size: 14px;
	font: inherit;
}

input[type="submit"] {
	box-shadow: 3px 3px 3px #888888;
	display: inline-block;
	border: 1px solid black;
	padding: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
	background: lightyellow;
}

select {
    background: transparent;
    padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 40px;
	-webkit-appearance: none;
	border: 1px solid black;
	width: 325px;
    overflow: hidden;
	background: url(new_arrow.jpg) no-repeat right;
}

input[type="file"] {
	width: 300px;
}

/* LOGIN FORM */

#login {
	margin-top: 100px;
	border: 3px solid black;
	padding: 30px;
}

#login > form > .submit {
	margin: 20px 0;
}

.input {
	font-size: 20px;
}

.input > input {
	width: 300px;
}

#left-sign-in {
	width: 350px;
}


/* HEADER */

header {
	border-bottom: 1px solid black;
    background:url('header.png') no-repeat; 
	background-position: left-top;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav-list-item {
	float: left;
	margin: 5px;
}

#left-nav {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}

#right-nav {
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
}

header nav {
	border: 1px solid black;
	border-top: 0;
	border-bottom: 0;
	width: 930px;
	padding: 5px;
	margin: auto;
}

/* BODY */

#container {
	padding-top: 20px;
	padding-bottom: 50px;
	border-top: 0;
	width: 900px;
	margin: auto;
}

#logout {
	padding: 0;
	padding-left: 5px;
	padding-right: 5px;
}

/* LISTS */

#show-block {
	border: 1px solid black;
	padding:20px;
	list-style: none;
	margin: 10px 0px;
}

#tour-block {
	border: 1px solid black;
	padding: 20px;
	list-style: none;
	margin: 10px 0px;
}

#venue-block {
	border: 1px solid black;
	padding: 20px;
	list-style: none;
	margin: 10px 0px;
}

#band-block {
	list-style: none;
	margin: 10px 0px;
}

.block-header {
	font-weight: bold;
	list-style: none;
	padding-left: 0;
}

.block-header-item {
	font-weight: bold;
	font-size: 34px;
}

#all-bands {
	list-style: none;
	padding-left: 0;
}

#all-shows {
	list-style: none;
	padding-left: 0;
}

#all-venues {
	list-style: none;
	padding-left: 0;
}

#all-tours {
	list-style: none;
	padding-left: 0;
}

/* ERROR AND SUCCESS PARTIALS */

#errors {
	color: #c00;
}

#successes {
	color: #070;
}

#successes > ul {
	padding: 0;
	list-style: none;
}

#flash-header {
	margin-left: 25px;
}


/* LARGE BOX SHAPED LINKS */

.all-shows-box {
    box-shadow: 5px 5px 5px #888888;
	margin-top: 30px;
	text-align: center;
	border: 1px solid #6b2607;
	color: #6b2607;	
}

.all-shows-box:hover {
	background: #e8ebf0;
}

.add-box {
	box-shadow: 5px 5px 5px #888888;
	margin-top: 30px;
	text-align: center;
	border: 1px solid darkblue;
	color: darkblue;
}

.add-box:hover {
	text-align: center;
	border: 1px solid darkblue;
	color: darkblue;
	background: #e8ebf0;
}

/* EDIT USER PAGE */

#edit-user-email,
#edit-user-password {
	float: left;
}

#edit-user-password {
	padding-left: 40px;
	margin-left: 40px;
	border-left: 1px solid black;
}


.small-image {
	height: 50px;
}

/* USER HEADING */

.header-image {
	border: 1px solid black;
}

#edit-image {
	margin-top: 20px;
}

#edit-image > .input > label {
	font-size: 16px;
}

#change-image {
	width: 250px;
	display: block;
}

#show-image {
	height: 100%;
	float: right;
}

#show-heading {
	border-bottom: 1px solid black;
	padding: 0px;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

#show-heading > h1 {
	
}

#show-heading > h1 {
	font-size: 30px;
	color: black;
}

.input > label {
	display: block;
}

.rightform {
	float: left;
}

.band-list-image {
	border: 1px solid black;
	margin-right: 20px;
	height: 75px;
	float: left;
}

.member-list-item {
	margin: 10px 0;
}

#settings {
	margin-top: 30px;
}

#request-block > form {
	display: inline;
}

#request-block {
	line-height: 20px;
	margin: 20px;
}

#header-search {
	margin: 0;
	padding: 2px;
	height: 20px;
}

/* MAP */

#map-container {
	width: 900px;
}

/* EVENT FORM */

.left-form {
	width: 350px;
	margin-top: 20px;
 	float: left;
}

.right-form {
	width: 350px;
	margin-top: 20px;
	margin-left: 40px;
	padding-left: 40px;
	border-left: 1px solid black;
	float: right;
}

.optional-event-form {
	display: block;
}

label[for="venue_picker"] {
	font-size: 20px;
	font-weight: bold;
}

/* TOUR */

#new-tour-form {
	margin-top: 20px;
}

.checkboxes {
	margin-bottom: 30px;
}

.checkbox {
	font-size: 20px;
}

.checkbox:hover {
	color: black;
	cursor: pointer;
}

.checkbox > label:hover {
	cursor: pointer;
}

input[type="checkbox"] {
	height: 20px;
	width: 20px;
}

input[type="checkbox"]:hover {
	cursor: pointer;
}

/* BAND FORM */

#band-form {
	margin-top: 20px;
}

/* BAND SHOW */

#band-show-image {
	height: 280px;
}