/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* RESET */

html, body, form, h1, div, label, a, input[type="submit"] {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

a:link {color: orange; text-decoration: none;}
a:visited {color: orange;}
a:hover { color: black; text-decoration : none;}
a:active{color: black; text-decoration : none; } 


/* GENERAL STYLIN */

html {
	font-family: Futura;
    background: #fff5de;
    color: #46434d;
}

h1,h2,h3,h4,h5,h6 {
	display: block;
	font-weight: bold;
}

h1 { font-size: 24px; }
h2 { font-size: 20px; }

a {
	color: orange;
	display: inline;
	font-weight: bold;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

/* HEADER */

header {
	border-bottom: 1px solid black;
}

.nav-list-item {
	float: left;
	margin: 5px;
}

#left-nav {
	list-style: none;
	float: left;
	margin: 0;
	padding: 0;
}

#right-nav {
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
}

header nav {
	border: 1px solid black;
	border-top: 0;
	border-bottom: 0;
	width: 930px;
	padding: 5px;
	margin: auto;
}

/* BODY */

#container {
	border: 1px solid black;
	border-top: 0;
	width: 900px;
	padding: 20px;
	margin: auto;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="file"],
select,
option {
    display:block;
    margin: 10px;
	border-radius: 5px;
	border: 1px solid black;
	padding: 10px;
	font-size: 14px;
}

input[type="submit"] {
	display: inline-block;
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
	background: lightyellow;
}

#logout {
	padding: 0;
	padding-left: 5px;
	padding-right: 5px;
}

#show-block {
	border: 1px solid black;
	padding: 10px;
	list-style: none;
	margin: 10px 0px;
}

#tour-block {
	border: 1px solid black;
	padding: 10px;
	list-style: none;
	margin: 10px 0px;
}

#venue-block {
	border: 1px solid black;
	padding: 10px;
	list-style: none;
	margin: 10px 0px;
}

#band-block {
	border: 1px solid black;
	padding: 10px;
	list-style: none;
	margin: 10px 0px;
}

.block-header {
	font-weight: bold;
	list-style: none;
	padding-left: 0;
}

#all-bands {
	list-style: none;
	padding-left: 0;
}

#all-shows {
	list-style: none;
	padding-left: 0;
}

#all-venues {
	list-style: none;
	padding-left: 0;
}

#all-tours {
	list-style: none;
	padding-left: 0;
}

#errors {
	margin: 10px;
	border: 3px solid red;
}

#successes {
	margin: 10px;
	border: 3px solid lightgreen;
}

#flash-header {
	margin-left: 25px;
}

#edit-user-email,
#edit-user-password {
	float: left;
}

#edit-user-password {
	padding-left: 10px;
	border-left: 1px solid black;
}

.add-box {
	text-align: center;
	border: 1px solid green;
	color: green;
}

.add-box:hover {
	text-align: center;
	border: 1px solid darkblue;
	color: darkblue;
	background: lightgrey;
}

.small-image {
	height: 50px;
}