/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

@import "reset";
@import "general";
@import "header";
@import "forms";
@import "list_styles";
@import "error_and_success";

@import "bands";

/* EDIT USER PAGE */

#edit-user-email,
#edit-user-password {
	float: left;
}

#edit-user-password {
	padding-left: 40px;
	margin-left: 40px;
	border-left: 1px solid black;
}



/* USER HEADING */

.header-image {
	border: 1px solid black;
}

#edit-image {
	margin-top: 20px;
}

#edit-image > .input > label {
	font-size: 16px;
}

#change-image {
	width: 250px;
	display: block;
}

#show-image {
	height: 100%;
	float: right;
}

#show-heading {
	border-bottom: 1px solid black;
	padding: 0px;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

#show-heading > h1 {
	
}

#show-heading > h1 {
	font-size: 30px;
	color: black;
}

.input > label {
	display: block;
}

.rightform {
	float: left;
}

.band-list-image {
	border: 1px solid black;
	margin-right: 20px;
	height: 75px;
	float: left;
}

.member-list-item {
	margin: 10px 0;
}

#settings {
	margin-top: 30px;
}

#request-block > form {
	display: inline;
}

#request-block {
	line-height: 20px;
	margin: 20px;
}

/* EVENT FORM */

.left-form {
	width: 350px;
	margin-top: 20px;
 	float: left;
}

.right-form {
	width: 350px;
	margin-top: 20px;
	margin-left: 40px;
	padding-left: 40px;
	border-left: 1px solid black;
	float: right;
}

.optional-event-form {
	display: block;
}

label[for="venue_picker"] {
	font-size: 20px;
	font-weight: bold;
}

/* TOUR */

#new-tour-form {
	margin-top: 20px;
}
