/* EVENT FORM */

.left-form {
	width: 350px;
	margin-top: 20px;
 	float: left;
}

.right-form {
	width: 350px;
	margin-top: 20px;
	margin-left: 40px;
	padding-left: 40px;
	border-left: 1px solid black;
	float: right;
}

.optional-event-form {
	display: block;
}

label[for="venue_picker"] {
	font-size: 20px;
	font-weight: bold;
}