/* GENERAL STYLIN */

html {
	font-family: 'Montserrat', sans-serif;
    background: white;
    color: #46434d;
	overflow-y: scroll;
}

h1,h2,h3,h4,h5,h6 {
	display: block;
	font-weight: bold;
}

h1 { 
	font-size: 24px;
	margin: 0 0 20px 0; 
}

h2 { font-size: 20px; }

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.clearfixtop:before {
	content: "";
	display: block;
	clear: both;
}

.input > label {
	display: block;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="file"],
input[type="search"],
select,
option {
    display:block;
	margin: 20px 0;
	border: 1px solid black;
	padding: 10px;
	font-size: 14px;
	font: inherit;
}

input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover,
input[type="date"]:hover,
input[type="file"]:hover,
input[type="search"]:hover {
	border: 1px solid green;
	box-shadow: 1px 1px 1px #888888;
}

input[type="submit"] {
	-webkit-appearance: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	position: relative;
	box-shadow: 3px 3px 3px #888888;
	display: inline-block;
	border: 1px solid black;
	padding: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
	background: lightyellow;
}

input[type="submit"]:active {
	top: 2px;
	left: 2px;
}

select {
    background: transparent;
    padding: 5px;
	font-size: 16px;
	line-height: 1;
	border: 0;
	border-radius: 0;
	height: 40px;
	-webkit-appearance: none;
	border: 1px solid black;
	width: 325px;
    overflow: hidden;
	background: url(new_arrow.jpg) no-repeat right;
}

input[type="file"] {
	width: 300px;
}

.checkboxes {
	margin-bottom: 30px;
}

.checkbox {
	font-size: 20px;
}

.checkbox:hover {
	color: black;
	cursor: pointer;
}

.checkbox > label:hover {
	cursor: pointer;
}

input[type="checkbox"] {
	height: 20px;
	width: 20px;
}

input[type="checkbox"]:hover {
	cursor: pointer;
}

.rightform {
	float: left;
}

/* BODY */

#container {
	padding-top: 20px;
	padding-bottom: 50px;
	border-top: 0;
	width: 900px;
	margin: auto;
}

#logout {
	padding: 0;
	padding-left: 5px;
	padding-right: 5px;
}

/* LARGE BOX SHAPED LINKS */

.all-shows-box {
	position: relative;
    box-shadow: 5px 5px 5px #888888;
	margin-top: 30px;
	text-align: center;
	border: 1px solid #6b2607;
	color: #6b2607;	
}

.all-shows-box:hover {
	background: #e8ebf0;
}

.all-shows-box:active {
	top: 3px;
	left: 2px;
}

.add-box {
	position: relative;
	box-shadow: 5px 5px 5px #888888;
	margin-top: 30px;
	text-align: center;
	border: 1px solid darkblue;
	color: darkblue;
}

.add-box:hover {
	text-align: center;
	border: 1px solid darkblue;
	color: darkblue;
	background: #e8ebf0;
}

.add-box:active {
	top: 3px;
	left: 2px;
}

.small-image {
	height: 50px;
}

/* SHOW PAGE HEADINGS */

#show-image {
	height: 100%;
	float: right;
}

#show-heading {
	border-bottom: 1px solid black;
	padding: 0px;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

#show-heading > h1 {
	font-size: 30px;
	color: black;
}