/* GENERAL STYLIN */

html {
	font-family: 'Montserrat', sans-serif;
    background: white;
    color: #46434d;
	overflow-y: scroll;
}

h1,h2,h3,h4,h5,h6 {
	display: block;
	font-weight: bold;
}

h1 { font-size: 30px; color: black; }

h2 { font-size: 20px; }

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.clearfixtop:before {
	content: "";
	display: block;
	clear: both;
}

/* BODY */

#container {
	padding-top: 20px;
	padding-bottom: 50px;
	border-top: 0;
	width: 900px;
	margin: auto;
}

/* LARGE BOX SHAPED LINKS */

.all-shows-box {
	position: relative;
    box-shadow: 5px 5px 5px #888888;
	margin-top: 30px;
	text-align: center;
	border: 1px solid #6b2607;
	color: #6b2607;	
}

.all-shows-box:hover {
	background: #e8ebf0;
}

.all-shows-box:active {
	top: 3px;
	left: 2px;
}

.add-box {
	position: relative;
	box-shadow: 5px 5px 5px #888888;
	margin-top: 30px;
	text-align: center;
	border: 1px solid #07546b;
	color: #07546b;
}

.add-box:hover {
	background: #e8ebf0;
}

.add-box:active {
	top: 3px;
	left: 2px;
}

/* SHOW PAGE HEADINGS */

#show-image {
	background: url("loader.gif") no-repeat center;
	border: 1px solid black;
	position: relative;
	height: 280px;
	width: 280px;
	float: right;
}

#show-heading {
	border-bottom: 1px solid black;
	padding: 0px;
	padding-bottom: 20px;
	margin-bottom: 30px;
}

/* DROPDOWNS */

#hidden {
	display: none;
}