/* LIST STYLES */

#show-block,
#tour-block,
#venue-block {
	border: 1px solid black;
	padding:20px;
	list-style: none;
	margin: 10px 0px;
}

#band-block {
	list-style: none;
	margin: 10px 0px;
}

.block-header {
	font-weight: bold;
	list-style: none;
	padding-left: 0;
}

.block-header-item {
	font-weight: bold;
	font-size: 34px;
}

#all-bands, 
#all-venues,
#all-shows,
#all-tours {
	list-style: none;
	padding-left: 0;
}
