/* TOUR */

#new-tour-form {
	margin-top: 20px;
}

.tour-buttons {
	float: left;
	margin: 1px 2px 0 0;
	display: inline;
	font-size: 16px;
}

#hidden-distance {
	display: none;
}

#hidden-shows {
	display: block;
}

#grab-image-error {
	color: red;
	margin-top: 20px;
}